{% extends 'shared/plantilla.html' %}
<!-- -- -->
{% block title %}Regimen Pensionario{% endblock %}

<!-- -- -->
{% block content %}
<div class="d-flex justify-content-between py-2 border-bottom border-2">
  <h2 class="text-danger">REGIMEN PENSIONARIO</h2>
  <button class="btn text-white rounded-0 px-4" style="background: #5c1260">
    Periodo
  </button>
</div>

<!-- Contenido -->
<div class="row" style="height: calc(100% - 64px)">
  <!-- Tablas -->
  <div class="col-3 p-0" style="border: 2px solid rgb(209, 198, 198)">
    <div style="width: 100%; height: 50px; background: #e0e2e6"></div>

    <!-- tabla 1 -->
    <table class="table table-sm table-bordered">
      <thead>
        <tr class="table-secondary">
          <td></td>
          <td>Descripcion</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>VENDEDORA</td>
        </tr>
        <tr>
          <td></td>
          <td>ADMINISTRADOR</td>
        </tr>
        <tr>
          <td></td>
          <td>REPARTIDOR</td>
        </tr>
        <tr>
          <td></td>
          <td>ALMACENERA</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- ------------------------------ -->
  <div class="col-9">
    <!-- botones -->
    <div class="mt-2">
      <button class="p-0 pe-2" style="border: none; border: 1px solid #c6c7c7">
        <img
          src="{{ url_for('static', filename='img/plus.svg') }}"
          width="40px"
          class="m-0"
        />
        <span>Agregar</span>
      </button>
      <button class="p-0 pe-2" style="border: none; border: 1px solid #c6c7c7">
        <img
          src="{{ url_for('static', filename='img/plus.svg') }}"
          width="40px"
          class="m-0"
        />
        <span>Guardar</span>
      </button>
      <button class="p-0 pe-2" style="border: none; border: 1px solid #c6c7c7">
        <img
          src="{{ url_for('static', filename='img/trash.svg') }}"
          width="40px"
          class="p-1"
        />
        <span>Elimiar</span>
      </button>
    </div>

    <!-- filas -->
    <div class="ps-4" style="margin-top: 10rem">
      <!-- fila 1 -->
      <div class="row mb-1 align-items-center">
        <label class="col-2 col-form-label" for="">Codigo:</label>
        <div class="col-2">
          <input type="text" class="form-control" />
        </div>
        <div class="col-5 for-check">
          <label class="form-check-label me-2" for="">Estado:</label>
          <input type="checkbox" class="form-check-input" />
        </div>
      </div>

      <!-- fila 2 -->
      <div class="row mb-1">
        <label class="col-2 col-form-label" for="">Descripcion:</label>
        <div class="col-5">
          <input type="text" class="form-control" />
        </div>
      </div>

      <!-- fila 3 -->
      <div class="row mb-1">
        <label class="col-2 col-form-label" for="">Descripcion Corta:</label>
        <div class="col-5">
          <input type="text" class="form-control" />
        </div>
      </div>

      <!-- fila 3 -->
      <div class="row mb-1">
        <label class="col-2 col-form-label" for="">Tipo Regimen:</label>
        <div class="col-2">
          <select class="form-select" name="" id="">
            <option value="1">SNP</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
